h2 {  /* este estilo afecta a todos los h2 de INDEX2.HTML */
    font-size: 60px;
    color: rgba(6, 61, 240, 0.945);
    background-color: rgb(75, 156, 28);
}


.textomorado {   /* clases css que aplica color morado y fuente lucia sans */
    color: blueviolet;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.claseContenedorDiv1 {  /* afectara a agunos contenedores div  */
    font-size: 40px;
    width: 800px; 
    height: 600px;
    background-color: rgb(27, 78, 76);

}

#fondoverdeclaro {  /* identificador que solo afecta a una etiqueta */
    background-color: rgb(160, 103, 17);
    font-size: 30px;
    text-align: center;
}

.textmorado:hover { /* pseudoclase que afecta al posicionarte con mouse */
    background-color: rgb(146, 34, 15);
color: hsl(165, 67%, 25%);

}

.claseContenedorDiv1::first-letter { /* seoudoelemento que afeca a la primera letra */ 
     font-size: 40px;
     color: rgb(156, 27, 27);

}
h2 { /* este estilo afecta a todos los h2 de INDEX2.html */

    font-size: 50px;
    color: rgb(14, 116, 102);
    background-color: darkkhaki;
}

.textomorado {  /* clase css que aplica color morado y fuente LucidaSAns */
   color: blueviolet; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.claseContenedorDiv1 { /* afectara a algunos contenedores div */
    font-size: 40px;
    width: 800px;
    height: 600px;
    background-color: rgb(238, 255, 0);

}

#fondonaranja {  /* identificador que solo afecta a una etiqueta */
    background-color: rgb(199, 154, 65);
    font-size: 30px;
    text-align: center;
}

.textomorado:hover { /* pseudoclase que afecta al posicionarte con mouse */
    background-color: rgb(255, 127, 249);
    color: rgb(51, 95, 6);

}

.claseContenedorDiv1::first-letter {
 /* seudoelelmento que afecta a la primera letra*/
 font-size: 80px;   
 color: crimson;
}


.clase_Static {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    margin-top: 0px;
   margin-left:20px ;
   margin-right:80px; 
}

.clase_Static2 {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    top: 20px;  /* esto no funciona en static */
    left:80px ;  /* esto no funciona en static */
    right:200px;  /* esto no funciona en static */
    
}

.clase_Relative{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative:hover {
    position:relative; 
    top: 100px;
    left: 100px;
    z-index: -5;
    /* z-index para colocar adelante o atras en profundidad respecto a otro elemento  */
}

.clase_Relative2{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative2:hover {
    position:relative; 
    margin-top: 100px;
    margin-left: 100px;
    
    
}






h2 { /* este estilo afecta a todos los h2 de INDEX2.html */

    font-size: 50px;
    color: rgb(14, 116, 102);
    background-color: darkkhaki;
}

.textomorado {  /* clase css que aplica color morado y fuente LucidaSAns */
   color: blueviolet; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.claseContenedorDiv1 { /* afectara a algunos contenedores div */
    font-size: 40px;
    width: 800px;
    height: 600px;
    background-color: rgb(238, 255, 0);

}

#fondonaranja {  /* identificador que solo afecta a una etiqueta */
    background-color: rgb(199, 154, 65);
    font-size: 30px;
    text-align: center;
}

.textomorado:hover { /* pseudoclase que afecta al posicionarte con mouse */
    background-color: rgb(255, 127, 249);
    color: rgb(51, 95, 6);

}

.claseContenedorDiv1::first-letter {
 /* seudoelelmento que afecta a la primera letra*/
 font-size: 80px;   
 color: crimson;
}


.clase_Static {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    margin-top: 0px;
   margin-left:20px ;
   margin-right:80px; 
}

.clase_Static2 {
    font-size: 20px;
    background-color: aqua;
    position:static;  
    top: 20px;  /* esto no funciona en static */
    left:80px ;  /* esto no funciona en static */
    right:200px;  /* esto no funciona en static */
    
}

.clase_Relative{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative:hover {
    position:relative; 
    top: 100px;
    left: 100px;
    z-index: -5;
    /* z-index para colocar adelante o atras en profundidad respecto a otro elemento  */
}

.clase_Relative2{
    font-size: 20px;
    background-color: rgb(187, 218, 77); 
    height: 250px;
    width: 200px;
}
.clase_Relative2:hover {
    position:relative; 
    margin-top: 100px;
    margin-left: 100px;
    
    
}

.clase_absolute {
    font-size: 20px;
    background-color:chartreuse ;
    height: 250px;
    width: 200px;
    position: absolute;
    top: 500px;   /* de arriba  hacia abajo, osea baja */
    left: 100px;
    z-index: -10;

}

.clase_Relative3 {
    font-size: 20px;
    background-color:chartreuse ;
    height: 250px;
    width: 200px;
    position: relative;

}

.clase_AbsoluteRelative {
    font-size: 20px;
    background-color:chartreuse ;
    height: 200px;
    width: 150px;
    position: absolute;
    bottom: 300px;  /* de abajo hacia arriba, osea sube */
    left: 600px;
    z-index: -5;

}


.clase_Fixed {
    height: 320px;
    width: 300px;
    position: fixed;
    left: 600px;
    bottom: 300px;
    z-index: -10;

}

.marca_agua {
    opacity: 0.3;
    pointer-events: none;
    z-index: 10;

}

.clase_Sticky {
    position:sticky;
    font-size: 40px;
    top: 0px;
    left:40px;
    height: 300px;

}


.tipolineblock { /*estilo display inline */
        
      background-color: rgb(218, 65, 65);
      font-size: 30px; 
      margin: 10px;
      color: aquamarine;
      display: inline-block;
      width: 500px;
}


.elinea {/*estilo display inline */
  
    background-color: rgb(128, 26, 73);
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: bisque;
    width: 80px;
    height: 40px;

}

.bloque{/estilo display por defecto/
    background-color:blue;
  font-size: 20px;
  margin: 20px;
  color: rgb(60, 148, 119);
  }
  .tiponone{/estilo display por none/
    background-color:blue;
  font-size: 20px;
  margin: 20px;
  color: aquamarine;
  display: none;
  }
  .tipohidden{ /*estilo display hidden */
    background-color:blue;
  font-size: 20px;
  margin: 20px;
  color: aquamarine;
  display: hidden;
  }

  .tipofex{
    display: flex;
    background-color: rgb(102, 206, 33);
    animation: center;
    justify-content: space-between;


  }

.claseNav { /* estilo en nav */
background-color: rgb(65, 206, 159);
font-size: 30px;
/*margin: 20px; */
padding-inline: 0px;
color: black;
display: inline;
list-style-type: none;

}

.claseNav a:hover{

background-color: rgba(19, 102, 16, 0.5);

}

